
.set_copyer {
    .copyer_content {
        padding: 20px 20px 0;
        .ant-btn {
            margin-bottom: 20px;
        }
        .ant-checkbox {
            margin-bottom: 20px;
        }
    }
}