.select-box {
  height: 420px;
  overflow-y: auto;
  li {
    padding: 5px 0;
    i {
      float: right;
      padding-left: 24px;
      padding-right: 10px;
      color: #3195f8;
      font-size: 12px;
      cursor: pointer;
      background: url(~@/assets/images/next_level_active.png) no-repeat 10px center;
      border-left: 1px solid rgb(238, 238, 238);
    }
    a.active+i {
      color: rgb(197, 197, 197);
      background-image: url(~@/assets/images/next_level.png);
      pointer-events: none;
    }
    img {
      width: 14px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}